/* 컨테이너 스타일 */
.container {
    position: relative;
    width: 100%;
    height: 100vh; /* 전체 화면 높이 */
    background-color: #f0f0f0; /* 배경색 (선택 사항) */
}

/* 메인 섹션 스타일 */
.main-section {
    position: relative;
    width: 100%;
    height: 100%;
}


.custom-button {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #3B82F6; /* bg-blue-500 */
    color: white;
    padding: 1rem 1.5rem; /* px-6 py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    border-bottom: 4px solid #2563EB; /* border-blue-600, border-b-[4px] */
    position: absolute;
    top: 1rem; /* 버튼을 섹션의 위쪽에 배치 */
    right: 1rem; /* 버튼을 섹션의 오른쪽에 배치 */
  }
  
  .custom-button:hover {
    filter: brightness(1.10); /* hover:brightness-110 */
    transform: translateY(-1px); /* hover:-translate-y-[1px] */
    border-bottom-width: 6px; /* hover:border-b-[6px] */
  }
  
  .custom-button:active {
    filter: brightness(0.90); /* active:brightness-90 */
    transform: translateY(2px); /* active:translate-y-[2px] */
    border-bottom-width: 2px; /* active:border-b-[2px] */
  }
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  